.projects {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
  }

  &__add-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
}

.project-card {
  width: 250px;
  min-height: 180px;

  &__description {
    min-height: 30px;
    margin-top: 10px;
  }

  &_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    min-height: 180px;
    border: 1px solid #f0f0f0;

    &.ant-empty {
      margin: 0;
    }
  }
}
