@import "../../../styles/veriables";

.sidebar {
  padding-top: 100px;
  background: #f0f2f5;

  @media (max-width: $md) {
    position: fixed;
    top: 50px;
    bottom: 0;
    z-index: 100;
    padding-top: 10px;
    background: #001529;
  }

  &__menu {
    background: #f0f2f5;

    @media (max-width: $md) {
      background: #001529;
    }
  }
}
